
    .grid-container {
        display: flex;
        flex-direction: column;
        max-width: 400px;
        min-height: 400px;
        
      }
     .row {
       
        display: flex;
        flex: 1;
     }

     .cell {
        background-color: #2196F3;
        flex-direction: column;
        flex: 1;
       border:  2px solid aliceblue;
     }
    
      
      
